@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #000000; 
	border: solid #FFFFFF 0; 
	box-shadow: 2px 5px 47px rgba(255, 255, 255, 0.6)  ; 
	-webkit-box-shadow: 2px 5px 47px rgba(255, 255, 255, 0.6)  ; 
	-moz-box-shadow: 2px 5px 47px rgba(255, 255, 255, 0.6)  ; 
}

#my-scrollbar{
  width: 100%;

}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background:white;
  visibility: hidden;
  opacity: 0;
}